@import '@/assets/styles/variable.scss';

.watch-setting {
  padding: $gap-f-1;

  background-color: black;
  opacity: 0.6;
  border-radius: $round-a;
}

.watch-container {
  width: 70vw;

  // display: inline-block;
  position: absolute;
  bottom: $gap-f-2;
  left: $gap-f-2;

  transition: all 1s ease 0s;
}

.watch-center-container {
  width: 90vw;
  height: 30vh;

  transition: all 1s ease 0s;
}

.watch-digit {
  font-size: 5rem;
  font-family: $font-family-number;
}

.watch-text {
  font-size: 1.4rem;
  font-family: $font-family-english;
}