@import '@/assets/styles/variable.scss';

.LowCenterContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.subtitleContainer {
  text-align: center;
  margin-bottom: $gap-8;
  margin-left: $gap-5;
  margin-right: $gap-5;

  padding: $gap-f-1;

  background-color: $black;
  opacity: 0.7;
  border-radius: $round-a;

  color: $white;

  min-width: 25vw;
  min-height: 10vh;
}

@include mobile {
  .subtitleContainer {
    margin-bottom: $gap-5;
  }
}

.subtitleHeader {
  color: $white;
}

.subtitleDetail {
  color: $grey-lighter;
}

.subtitleLocation {
  color: $info;
}

.subtitleDate {
  color: $info;
}
