@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Maitree);

.font-main {
  font-family: 'Source Sans Pro', sans-serif;
}

.font-thai {
  font-family: 'Maitree', sans-serif;
}

.font-digital {
  font-family: 'Orbitron', sans-serif;
}
